
body {
    background-color: black;
    color: yellow;
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}


h1, h2 {
    color: yellow;
    text-align: center;
}

.content-wrapper {
    display: flex; 
    flex-grow:1;
    margin-right:20px;
}


main {
    width: 80%; 
    background-color: #222;
    padding: 80px;
    border-radius: 10px;

}


aside {
    width: 20%;
    background-color: #333;
    color: white;
    border-left: 3px solid yellow;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto; 
    margin-right: 80px;
}


#promo1 {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid yellow;
    max-width: 100%;
    height: auto;
}


footer {
    text-align: center;
    margin-top: 20px;
    color: yellow;
}
