body
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container
{
    display: flex;
    flex-grow:1;
}


body {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (cuando la altura es suficiente) */
    min-height: 100vh; /* Asegura que ocupe al menos la altura completa de la ventana */
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 20px; /* Espacio interno alrededor del contenido */
    box-sizing: border-box;
}

.rightaside
{
    justify-content: center;
    background-color: aqua;
    align-items: center;
    padding: 20px;
    flex:2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.leftaside
{
    justify-content: center;
    background-color: red;
    align-items: center;
    padding: 20px;
    flex:2;
    text-align: center;
}
main
{
    justify-content: center;
    background-color: wheat;
    align-items: center;
    padding: 20px;
    flex:6;
    text-align: center;
}

table
{
    margin: auto;
    
}

#photo1
{
    border-radius:50%;
    width:150px;
    width: 150px;
}

footer
{
    text-align: center;
}

